@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  width: 100vw;
  min-height: 100%;
  margin-top: 80px;
}
.inside #maincontent{
  margin-top: 0px;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: auto;
  background-color: #252831;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
nav h1 {
  margin: auto;
  padding: 10px;
}
nav h1 a {
  color: #fff;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  box-sizing: border-box;
  padding: 15px;
  list-style: none;
  background-color: #eee;
  margin: 80px 0 0 0;
  width: 100vw;
  max-width: 100%;
  height: auto;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  background-color: #3397DB;
  align-items: center;
  padding: 10px 0;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11px;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  padding: 15px;
  text-align: center;
  width: 80%;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: auto;
  align-items: center;
  max-width: 70%;
  min-height: auto;
  min-width: 270px;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11px;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100vw;
  max-width: 100%;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 40vh;
  width: 100vw;
  max-width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100vw;
  max-width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}
#restaurant-img {
  width: 90%;
  max-width: 750px;
}
#restaurant-address {
  font-size: 12px;
  margin: 10px 0px;
  text-align: left;
  text-decoration: underline;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  max-width: 750px;
}
#restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px 0px 30px;
  width: 100vw;
  max-width: 100%;
}
#restaurant-hours td {
  color: #666;
}
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
  overflow: hidden;
  padding: 1.5em 0;
  margin: 0 auto;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 18px;
  font-weight: 200;
  margin: auto;
  padding: 10px;
  text-align: center;
}
#reviews-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Resource: https://www.cssmatic.com/box-shadow
for the box shadow with rounded corners */
#reviews-container li {
  display: inline-block;
  text-align: left;
  padding: 1em;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  margin-bottom: 20px;
  border-radius: 25px 0px 25px 0px;
  -moz-border-radius: 25px 0px 25px 0px;
  -webkit-border-radius: 25px 0px 25px 0px;
  -webkit-box-shadow: inset 0px 50px 0px 0px rgba(37,40,49,1);
  -moz-box-shadow: inset 0px 50px 0px 0px rgba(37,40,49,1);
  box-shadow: inset 0px 50px 0px 0px rgba(37,40,49,1);
}


#reviews-list p:nth-child(1) {
  background-color: #252831;
  color: #ccc;
  font-size: 15px;
  font-weight: 300;
  margin: 0 20px;
  padding: 5px 0;
  text-align: left;
}
#reviews-list p:nth-child(2) {
  background-color: #252831;
  text-align: right;
  color: #ccc;
  font-size: 12px;
  margin: auto;
  padding: 8px 15px 0;
  float: right;
}

#reviews-list p:nth-child(-n+2) {
  display: inline-block;
  vertical-align: top;
}

#reviews-list p:nth-child(3) {
  color: #fff;
  border: 1px solid #f58500;
  background-color: #f58500;
  width: fit-content;
  font-size: 15px;
  font-weight: 300;
  margin: 30px 0 15px 20px;
  padding: 2px 3px;
  text-align: left;
  text-transform: uppercase;
}

#reviews-list p:nth-child(4) {
  margin: 20px;
}

/* Media query for Nexus 5 */
@media screen and (max-width: 360px) {
  #maincontent {
    margin-top: 60px;
  }
  #restaurants-list {
    padding: 30px 15px 30px;
    text-align: center;
  }
  #restaurants-list .restaurant-img {
    margin: auto;
    align-items: center;
    max-width: 70%;
    height: auto;
    min-width: 250px;
  }
  #breadcrumb {
    margin: 60px 0 0 0;
  }
  #reviews-container li {
    margin: 0 20px 20px;
  }

}

/* Media query for iPad */
@media screen and (min-width: 768px) {
  nav h1 {
    padding: 20px;
  }
  #restaurants-list {
    padding: 30px 15px 30px;
    text-align: center;
  }
  #restaurants-list .restaurant-img {
    margin: auto;
    margin-top: 20px;
    max-width: 90%;
    min-height: auto;
    min-width: 270px;
  }
  #restaurant-name {
    padding: 10px;
    font-size: 22px;
  }
  #restaurant-cuisine {
    font-size: 18px;
  }
  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 40vh;
    width: 100%;
  }
  #breadcrumb li {
    font-size: 16px;
  }
  nav h1 a {
    font-size: 2em;
  }
  #restaurant-address {
    font-size: 16px;
  }
  #restaurant-hours td {
    font-size: 15px;
  }
  #reviews-container {
    width: 80vw;
    align-items: center;
  }
  #reviews-container h2 {
    font-size: 20px;
    font-weight: 200;
  }
  #reviews-list p {
    font-size: 1em;
  }
}

/* Media query for Desktop */
@media screen and (min-width: 900px) {
  #restaurants-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
  }
  #restaurants-list li {
    margin: 15px;
    min-height: 380px;
    padding: 15px;
    text-align: center;
    width: 35%;
  }
  .inside #map-container {
    height: 50vh;
    width: 100%;
  }
  #reviews-container {
    width: 60vw;
    align-items: center;
  }
  #reviews-container h2 {
    font-size: 22px;
    font-weight: 300;
  }
  #reviews-list p {
    font-size: 1.2em;
  }
}